In [ ]:

'''problem statement -
BUILD AND VISUALIZE A DECISION TREE MODEL USING SCIKIT-LEARN TO CLASSIFY
OR PREDICT OUTCOMES ON A CHOSEN DATASET.

Title - Crop Yield Prediction
Objective-
To predict crop yield using agricultural parameters such as rainfall, fertilizer usage, temperature, and soil nutrients (N, P, K)
using a Decision Tree Regression model.'''

'problem statement -\nBUILD AND VISUALIZE A DECISION TREE MODEL USING SCIKIT-LEARN TO CLASSIFY\nOR PREDICT OUTCOMES ON A CHOSEN DATASET.\n# Crop Yield Prediction Decision Tree\n## Objective\n#To predict crop yield (Q/acre) using agricultural parameters such as\n#rainfall, fertilizer usage, temperature, and soil nutrients (N, P, K)\n#using a Decision Tree Regression model.'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor,plot_tree
from sklearn.metrics import mean_absolute_error ,mean_squared_error,r2_score

In [5]:
data = pd.read_excel("crop.xlsx")

In [6]:
#first few lines of data

data.head()

   Rain Fall (mm)  Fertilizer  ... Potassium (K)  Yeild (Q/acre)
0          1230.0        80.0  ...          20.0            12.0
1           480.0        60.0  ...          18.0             8.0
2          1250.0        75.0  ...          19.0            11.0
3           450.0        65.0  ...          18.0             9.0
4          1200.0        80.0  ...          19.0            11.0

[5 rows x 7 columns]

In [ ]:
#analysis of data

data.info()

#dataset contains agricultural features which are in float.. and temp is in object format 
#the target is yield (Q/acre).
#it does not have any categorical data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rain Fall (mm)  99 non-null     float64
 1   Fertilizer      99 non-null     float64
 2   Temperatue      100 non-null    object
 3   Nitrogen (N)    99 non-null     float64
 4   Phosphorus (P)  99 non-null     float64
 5   Potassium (K)   99 non-null     float64
 6   Yeild (Q/acre)  99 non-null     float64
dtypes: float64(6), object(1)
memory usage: 6.1+ KB

In [8]:
data.describe()

       Rain Fall (mm)  Fertilizer  ...  Potassium (K)  Yeild (Q/acre)
count       99.000000   99.000000  ...      99.000000       99.000000
mean       849.797980   67.808081  ...      18.060606        9.050505
std        400.042676   10.028202  ...       1.817254        1.965902
min        400.000000   50.000000  ...      15.000000        5.500000
25%        450.000000   60.000000  ...      16.000000        7.000000
50%       1150.000000   70.000000  ...      19.000000        9.000000
75%       1237.500000   77.000000  ...      19.000000       11.000000
max       1300.000000   80.000000  ...      22.000000       12.000000

[8 rows x 6 columns]

In [9]:
#first we need to clean the data to remove missing values..to ensure model works correctly
#we will fill the missing values with mean values.

data = data.apply(pd.to_numeric, errors='coerce')
data.fillna(data.mean(), inplace=True)

data.isnull().sum()

Rain Fall (mm)    0
Fertilizer        0
Temperatue        0
Nitrogen (N)      0
Phosphorus (P)    0
Potassium (K)     0
Yeild (Q/acre)    0
dtype: int64

In [10]:
#now will perform feature selection and group the features together

X = data[['Rain Fall (mm)', 'Fertilizer', 'Temperatue', 'Nitrogen (N)', 'Phosphorus (P)', 'Potassium (K)']]

y = data['Yeild (Q/acre)']